<% if (locals.errorMessage != null) { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>

<% if (success_msg!= '') { %>
  <div class="success-message"><%= success_msg %></div>
<% } %>

<% if (error_msg != '') { %>
  <div class="error-message"><%= error_msg %></div>
<% } %>