<h2 class="page-header">Wishlist</h2>
<table style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>Sách</th>
      <th>Tác giả</th>
      <th>Địa điểm</th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(book => { %>
      <tr>
        <td>
          <img width="120px" src="<%= book.coverImagePath %>">
        </td>
        <td><%= book.title %></td>
        <td><%= book.author.name %></td>
        <td><%= book.location.name %></td>
      </tr>
    <% }) %>
  </tbody>
</table>