<div class="form-item">
  <label for="email">Email</label>
  <input
  type="email"
  name="email"
  placeholder="Enter Email"
  />
</div>
<div class="form-item">
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    placeholder="Enter Password"
  />
</div>