<div class="form-item">
  <label>Name</label>
  <input type="text" name="name" value="<%= user.name %>">
</div>
<div class="form-item">
  <label>Email</label>
  <input type="email" name="email" value="<%= user.email %>">
</div>
<div class="form-item">
  <label for="password">Password</label>
  <input
    type="password" name="password" placeholder="New password" />
</div>